[
  {
    "modifierFlags" : 1179648,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "order" : 0,
    "keyCode" : 49
  },
  {
    "enabled" : true,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAACMyyRjQnkL3brfX23CviX39ftCBlXhM91H0gKQnJwboYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAA0aQAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBw9g5wYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "order" : 1,
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "hideIfActive" : false,
    "keyCode" : 46,
    "openSelectedFolders" : true
  },
  {
    "order" : 2,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "url" : "\/System\/Applications\/Utilities\/Terminal.app",
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAABgApe4frqROfD\/Qigvad3sYUhnlNDDfgbqXZ7LSmlpTkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAaEIBAP\/\/\/w8IAAAABAMAAMCvAQD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBw9g5wYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "openSelectedFiles" : false,
    "keyCode" : 20,
    "modifierFlags" : 524576
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 18,
    "url" : "\/Applications\/Visual Studio Code.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "order" : 3,
    "hideIfActive" : false,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAPUpRum4FARbY1sMp67jFuzMm06iifKYedjwsSywDOMwWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABrZgAAAAAAAAgAAAAEAwAA4P4AAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBw9p1RgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADFCMTkxQjY1LTE4OUYtNDYxQy1CMkUwLTAzOUE1MjdCMzUzMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 524576
  },
  {
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "keyCode" : 19,
    "order" : 4,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAADSuEkf0iTAGCvFjVrk78o2naUiFH9ZT7mLhV3Qu5iNcVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGtmAAAAAAAACAAAAAQDAABV1AAAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHD26PwAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true
  },
  {
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Notes.app",
    "enabled" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAABDtVbeP4QyV8GZRC0uknx0vRh\/X97YjscMfn0dE1AwPZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAuagAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcPYOcGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAkAAAAAQEAADFCMTkxQjY1LTE4OUYtNDYxQy1CMkUwLTAzOUE1MjdCMzUzMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "keyCode" : 45,
    "order" : 5,
    "modifierFlags" : 524576
  },
  {
    "order" : 6,
    "enabled" : true,
    "keyCode" : 1,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Safari.app",
    "hideIfActive" : false,
    "bookmark" : "Ym9vaxwCAAAAAAQQMAAAANgZFrOiw2bRFxuC\/gKgye9Z8k6FbDJW4uvXjlq9Oqp5PAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABrZgAAAAAAAAgAAAAEAwAAbWYAAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw9g5wYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAAAiAAACgBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAANwAAAAAAAAAEiAAAMwAAAAAAAAAEyAAAHgAAAAAAAAAICAAAAgBAAAAAAAAMCAAADQBAAAAAAAAENAAAAQAAAAAAAAA",
    "modifierFlags" : 524576
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEam5sn9PJ2eV8MYtcC5jNxb7T2RP+JzVinrzWK8ONmFTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABIb3RLZXkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABrZgAAAAAAAAgAAAAEAwAAawYBAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrgSBQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADFCMTkxQjY1LTE4OUYtNDYxQy1CMkUwLTAzOUE1MjdCMzUzMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 4,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/HotKey.app",
    "order" : 7,
    "enabled" : true
  },
  {
    "url" : "\/Applications\/MotionPro Plus.app",
    "hideIfActive" : false,
    "keyCode" : 9,
    "order" : 8,
    "modifierFlags" : 786721,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAP8qhoSbAis1eqhg1Ht0ZIOdrgv1YZn+CcWGNPs6QwwyVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABNb3Rpb25Qcm8gUGx1cy5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGtmAAAAAAAACAAAAAQDAADy9QAAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCGiSkAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true
  },
  {
    "modifierFlags" : 524576,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAMUAN8NFF2ZiVwWMn0YyG6mfzi1s0Z9UTAjrKeEttHYfVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABXb3JrcGxhY2UgQ2hhdC5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGtmAAAAAAAACAAAAAQDAABZJAsAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDwwdrAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "order" : 9,
    "hideIfActive" : false,
    "url" : "\/Applications\/Workplace Chat.app",
    "keyCode" : 8,
    "enabled" : true
  },
  {
    "url" : "\/Applications\/Microsoft Remote Desktop.app",
    "order" : 10,
    "keyCode" : 15,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazwCAAAAAAQQMAAAAORU0\/0QfMxvvV8E9AxtG1OLWx7ZhMtDIawldxW8j14DXAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zHAAAAAEBAABNaWNyb3NvZnQgUmVtb3RlIERlc2t0b3AuYXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAa2YAAAAAAAAIAAAABAMAAArjAQAAAAAACAAAAAEGAABYAAAAaAAAAAgAAAAABAAAQcPWMhcAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHD2DnBgAAAJAAAAAEBAAAxQjE5MUI2NS0xODlGLTQ2MUMtQjJFMC0wMzlBNTI3QjM1MzAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAeAAAAAAAAAAQEAAAmAAAAAAAAABAEAAAiAAAAAAAAAACIAAASAEAAAAAAAAFIAAAuAAAAAAAAAAQIAAAyAAAAAAAAAARIAAA\/AAAAAAAAAASIAAA3AAAAAAAAAATIAAA7AAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled" : true,
    "openSelectedFolders" : true
  },
  {
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "order" : 11,
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAM+inGOHbstyf+pw3B1Z\/arkHttXT4dxvAwbcb1w4Qg4TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABSdW5KUy5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABrZgAAAAAAAAgAAAAEAwAAvTQLAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw9dldoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADFCMTkxQjY1LTE4OUYtNDYxQy1CMkUwLTAzOUE1MjdCMzUzMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "url" : "\/Applications\/RunJS.app",
    "keyCode" : 38,
    "hideIfActive" : false
  },
  {
    "hideIfActive" : false,
    "enabled" : true,
    "modifierFlags" : 524576,
    "order" : 12,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAK3P7X+phCyJ6r1EhfLP8vGg0tKl8507b77DgAkLRGckTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABOdW1iZXJzLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABrZgAAAAAAAAgAAAAEAwAAna4CAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw3kjqgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADFCMTkxQjY1LTE4OUYtNDYxQy1CMkUwLTAzOUE1MjdCMzUzMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Numbers.app",
    "openSelectedFiles" : true,
    "keyCode" : 14
  },
  {
    "keyCode" : 40,
    "openSelectedFolders" : true,
    "modifierFlags" : 524576,
    "enabled" : true,
    "openSelectedFiles" : true,
    "order" : 13,
    "bookmark" : "Ym9va3gCAAAAAAQQMAAAABpVjFbhEQf8YvAhv4v2UgvaCkEGgK0Nz6QAk43XPJ0smAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAAEwAAAAEBAABLZXljaGFpbiBBY2Nlc3MuYXBwABAAAAABBgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAD4PQEA\/\/\/\/DwgAAAAEAwAARYYBAP\/\/\/w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEHD5QRRgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAAJAAAAAEBAAAxQjE5MUI2NS0xODlGLTQ2MUMtQjJFMC0wMzlBNTI3QjM1MzAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAhAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAARIAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Utilities\/Keychain Access.app"
  },
  {
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "order" : 14,
    "url" : "\/Applications\/Android Studio.app",
    "enabled" : true,
    "keyCode" : 0,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAOff+Ki5n8mEpMsj8X+Zr73xMa2nFRFGM3kKA1typ53ZVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABBbmRyb2lkIFN0dWRpby5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAM4zUQAAAAAACAAAAAQDAACZo20AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDr0ITgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw\/d7NIAAACQAAAABAQAAMUIxOTFCNjUtMTg5Ri00NjFDLUIyRTAtMDM5QTUyN0IzNTMwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "order" : 15,
    "keyCode" : 2,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAD4mQ3hOhmyGszJNTyrrNvXk1ghumZMpqBhllOakAOlZTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEQmVhdmVyLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADDjEkAAAAAAAgAAAAEAwAAlI\/GAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxHnIDoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoA8\/RwAAAAgAAAAABAAAQcRSbmsAAAAkAAAAAQEAAEI0MEMwM0QwLUQyRUItNDhGNS1CNjg2LTYxREQ2NDdGQ0ZBRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "enabled" : true,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/DBeaver.app"
  },
  {
    "url" : "\/System\/Applications\/System Settings.app",
    "keyCode" : 43,
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 524576,
    "order" : 16,
    "bookmark" : "Ym9va0wCAAAAAAQQMAAAAO1gkMjUjIJkiJnI7sD4tXGZTj4OUwwCe5oBnkqMUGbebAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAAEXAAA\/\/\/\/DwwAAAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxH9qooAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoA8\/RwAAACQAAAABAQAAQjQwQzAzRDAtRDJFQi00OEY1LUI2ODYtNjFERDY0N0ZDRkFEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgAAAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAAANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAAEiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAAAAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false,
    "openSelectedFiles" : true
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "keyCode" : 50,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "enabled" : true,
    "modifierFlags" : 524576,
    "order" : 17,
    "bookmark" : "Ym9va2wCAAAAAAQQMAAAAJjWH4o7ZesRcL\/Cw6TGXDL5pu091QvbUqY+Z9oJ0zutjAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAAMmFAAD\/\/\/8PCAAAAAQDAADLzQIA\/\/\/\/DwgAAAAEAwAAi+4CAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHEf2qigAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgDz9HAAAAJAAAAAEBAABCNDBDMDNEMC1EMkVCLTQ4RjUtQjY4Ni02MURENjQ3RkNGQUQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAWAAAAAAAAAAFEAAAsAAAAAAAAAAQEAAA2AAAAAAAAABAEAAAyAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA+AAAAAAAAAAQIAAACAEAAAAAAAARIAAALAEAAAAAAAASIAAAHAEAAAAAAAATIAAAyAAAAAAAAAAgIAAAWAEAAAAAAAAwIAAAhAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "openSelectedFiles" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "keyCode" : 3,
    "modifierFlags" : 524576,
    "url" : "\/Applications\/Firefox.app",
    "hideIfActive" : false,
    "order" : 18,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAAq4VlGpNIIu7s\/ijnHAp5I+BWI+vYo4kjsYNnWPXhuVTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACglN4AAAAAAAgAAAAEAwAAO2UjAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxI7JsgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoA8\/RwAAAAgAAAAABAAAQcR\/aqKAAAAkAAAAAQEAAEI0MEMwM0QwLUQyRUItNDhGNS1CNjg2LTYxREQ2NDdGQ0ZBRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "keyCode" : 35,
    "order" : 19,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAJ+4STmY+I0y9Pxz8jPHtMruFzBBMtqbgIKD3J80toxfTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABQb3N0bWFuLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAyNH0BAAAAAAgAAAAEAwAA+JnNAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxLa6y4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcSdDXwAAAAkAAAAAQEAAEI0MEMwM0QwLUQyRUItNDhGNS1CNjg2LTYxREQ2NDdGQ0ZBRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Postman.app",
    "openSelectedFolders" : true
  },
  {
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "keyCode" : 9,
    "url" : "\/Applications\/vpn on.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAP69u679sFy6TkFcOVpl+unRlts4Vkpz8Z3c23igB7RkTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAAB2cG4gb24uYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACeOAAAAAAAAAgAAAAEAwAAAkMEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw\/tLA4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcSDOiSAAAAkAAAAAQEAAENBOTREOEU2LTQ2Q0YtNDBCQi1CMzA1LTAxNjk5QURDQzZEMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 20,
    "enabled" : true,
    "openSelectedFolders" : true
  }
]